<button onclick="logOut()">Log Out</button> <br> 
<br>
{{#each products}}
<div>
    {{this.title}} <br>
    {{this.description}} <br>
    {{this.price}}$ <br>
    Stock: {{this.stock}} <br>
    <button onclick="addProduct({{this._id}})">ADD TO CART</button>
    <br>
</div>
{{/each}}
<br>
<a href="http://localhost:{{PORT}}/carts/{{cartId}}">🛒 GO TO CART</a> <br>
pages: {{#if getAll.prevLink}} <a href="{{getAll.prevLink}}">prev page</a> {{/if}} {{getAll.page}} {{#if getAll.nextLink}}<a
    href="{{getAll.nextLink}}">next page</a>{{/if}}


<script src="/js/views.js"></script>